/*.*
.DS_Store
.idea
!.gitignore
node_modules
!favicon
!wp-admin
!wp-includes
wp-content/*
!wp-content/themes
wp-content/uploads
!wp-content/plugins
wp-content/themes/*
!wp-content/themes/nozomi
!package.json
!webpack.mix.js
package-lock.json
!index.php
!wp-activate.php
!wp-blog-header.php
!wp-comments-post.php
!wp-config.php
!wp-cron.php
!wp-links-opml.php
!wp-load.php
!wp-login.php
!wp-mail.php
!wp-settings.php
!wp-signup.php
!wp-trackback.php
!xmlrpc.php
wp-content/themes/nozomi/front.js.LICENSE.txt
wp-content/themes/nozomi/mix-manifest.json
wp-content/themes/nozomi/front.css
wp-content/themes/nozomi/front.js
/wp-config.php
wp-content/plugins/all-in-one-wp-migration/storage/error.log

