.p-blog {
    &-content{
        padding-bottom: 180px;        
        padding-left: 100px;
        padding-right: 100px;
        @include desktop-normal{
            padding-left: 60px;
            padding-right: 60px;
        }
        @include desktop-note-big{
            padding-left: 45px;
            padding-right: 45px;
        }
        @include  desktop-block{
            padding-left: 25px;
            padding-right: 25px;
        }
        @include tablet{
            padding-left: 65px;
            padding-right: 65px;
        }
        @include phone{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &-wrap{
        position: relative;
    }
    &-blogs{
        display: flex;
    }
    .index{
        &-wrap{
            // height: 100%;
            display: flex;
            // align-items: center;
            justify-content: center;
            padding-top: pxVw(410, 2560);
            padding-bottom: pxVw(350, 2560);
            @include desktop-normal{
                padding-top: pxVw(325, 1920);
                padding-bottom: pxVw(180, 1920);
            }
            @include desktop-note-big{
                padding-top: pxVw(240, 1440);
                padding-bottom: pxVw(180, 1440);
            }
            @include desktop-block{
                padding-top: pxVw(240, 1024);
                padding-bottom: pxVw(66, 1024);
            }
            @include tablet{
                padding-top: pxVw(300, 768);
                padding-bottom: pxVw(66, 768);
            }
            @include phone{
                padding-top: pxVw(200, 375);
                padding-bottom: pxVw(120, 375);
            }
        }
        &-blog{
            // height: 80vh;
            .item{
                max-width: 1300px;
                padding-left: 25px;
                padding-right: 25px;
                @include desktop-normal{
                    max-width: 950px;
                  }
                @include desktop-note-big{
                    max-width: 810px;
                }
                @include tablet{
                    padding-left: 20px;
                    padding-right: 20px;
                    max-width: 678px;
                }
                @include phone{
                    max-width: 375px;
                }
                &-title{
                    text-align: center;
                    &--title{
                        font-family: var(--font-bold);
                        font-size: 98px;
                        line-height: 120%;
                        @include desktop-normal{
                            font-size: 76px;
                        }
                        @include desktop-note-big{
                            font-size: 62px;
                        }
                        @include phone{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .nav{
        // width: 326px;
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        @include desktop-normal{
            width: 240px;
        }
        @include desktop-normal{
            width: 240px;
        }
        @include desktop-note-big{
            width: 175px;
        }
        @include desktop-block{
            position: fixed;
            height: auto;
            left:0;
            top: auto;
            bottom:0;
            display: block;
            width: 100%;
            padding-bottom: 0;
            display: flex;
            justify-content: center;   
            z-index: 1000;   
        }

        &-wrap{
            @include desktop-block{
                width: 185px;
                position: relative;
            }
        }
        &-menu{
            width: 400px;
            @include desktop-normal{
                width: 240px;
            }
            @include desktop-normal{
                width: 240px;
            }
            @include desktop-note-big{
                width: 175px;
            }
            @include desktop-block{
                // display: none;
                width: 185px;
                padding: 15px;
                background-color: var(--color-beage);
                // height: 48px;
                // overflow: hidden;
                position: absolute;
                left: 0;
                bottom: 0;
                height: auto;
                z-index: 20;
            }
            &-bg{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0.5;
                background-color: var(--color-grey);
                display: none;
                @include desktop-block{
                    display: block;
                }
            }
            ul{
                @include desktop-block{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            li{
                padding-bottom: 16px;
                @include desktop-block{
                    text-align: center;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-bottom: 30px;

                }
                &.current-menu-item, &.active{
                    &>a{
                        color: var(--color-red);
                        &:after{
                            transform-origin: left;
                            transform: scaleX(1);
                            transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
                        }
                    }
                }
                &:last-of-type{
                    @include desktop-block{
                        padding-bottom: 7px;
                    }
                }
            }
            a{
                line-height: 1;
                font-family: var(--font-medium);
                color: var(--color-black);
                font-size: 20px;
                position: relative;
                padding-bottom: 3px;
                z-index: 0;
                text-transform: uppercase;
                @include desktop-normal{
                  font-size: 18px;
                }
                @include desktop-note-big{
                  font-size: 14px;
                }
                @include desktop-block{
                    font-size: 12px;
                }
                &:after{
                  content: '';
                  left: 0;
                  bottom: 0;
                  position: absolute;
                  height: 3px;
                  width: 100%;
                  background-color: transparent;
                  background-image: url('#{$assetsPath}/icons/icon-underline.svg');
                  background-position: left;
                  background-repeat: no-repeat;
                  background-attachment: scroll;
                  background-size: cover;
                  transform: scaleX(0);
                  transition: transform 0.3s ease-in-out;
                  transform-origin: right;
                }
                &:hover{
                    color: var(--color-red);
                    &:after{
                        transform-origin: left;
                        transform: scaleX(1);
                        transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
                    }
                }
            }
        }
        &-mobile{
            &-btns{
                display: none;
                @include desktop-block{
                    display: block;
                    position: relative;
                    z-index: 20;
                }
            }
            &-btn{
                border: 0 none;
                background-color: var(--color-beage);
                cursor: pointer;
                position: relative;
                width: 100%;
                padding: 15px;
                &-text{
                    color: var(--color-red);
                    position: relative;
                    line-height: 1;
                    font-family: var(--font-medium);
                    font-size: 12px;

                    padding-bottom: 3px;
                    z-index: 0;
                    text-transform: uppercase;
                    &:after{
                        content: '';
                        left: 0;
                        bottom: 0;
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        background-color: transparent;
                        background-image: url('#{$assetsPath}/icons/icon-underline.svg');
                        background-position: left;
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: cover;
                        // transform: scaleX(0);
                        transition: transform 0.3s ease-in-out;
                        transform-origin: right;
                        // transform-origin: left;
                        transform: scaleX(1);
                        transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
                    }
                }

            }
        }

    
    }
    .blogs{
        width: 100%;
        padding-top: 20px;
        padding-left: 400px;
        @include desktop-normal{
            padding-left: 240px;
        }
        @include desktop-note-big{
            padding-left: 175px;
        }
        @include desktop-block{
            padding-left: 0;
        }
        &-wrap{
            width: 100%;
        }
        &-list{
            width: 100%;
        }
        .item{
            padding-top: 70px;
            padding-bottom: 70px;
            border-bottom: 1px solid var(--color-grey-5);
            @include desktop-normal{
                padding-top: 50px;
                padding-bottom: 50px;
              }
            @include desktop-note-big{
                padding-top: 35px;
                padding-bottom: 35px;
            }
            @include tablet{

            }
            @include phone{

            }
            &:first-of-type{
                padding-top: 0;
            }
            &-wrap{
                display: flex;
                @include desktop-block{
                    flex-wrap: wrap;
                }

            }
            &-left{
                flex: 0 0 780px;
                max-width: 780px;
                position: relative;
                overflow: hidden;
                @include desktop-normal{
                    max-width: 574px;
                    flex: 0 0 574px;
                }
                @include desktop-note-big{
                    max-width: 500px;
                    flex: 0 0 500px;
                } 
                @include desktop-block{
                    max-width: 487px;
                    flex: 0 0 50%;
                }
                @include tablet{
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include phone{
    
                }
            }
            &-img{
                width: 100%;
                // height: auto;

                &:hover{
                    img{
                      transform: scale(1.05) rotate(-1deg);
                    
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1) rotate(0);
                    transition: all 0.3s linear;
                }
            }
            &-right{
                padding-left: 100px; 
                padding-right: 100px;
                flex: 1;
                @include desktop-normal{
                  padding-left: 60px;
                  padding-right: 84px;
                }
                @include desktop-note-big{
                    padding-left: 40px;
                    padding-right: 60px;
                }
               @include desktop-block{
                padding-left: 25px;
                padding-right: 40px;
                }
                @include tablet{
                    padding-left: 0;
                    padding-right: 0;
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include phone{

                }
                &-wrap{
                    @include desktop-normal{

                      }
                }
                &-top{
                    display: flex;
                    justify-content: space-between;
                    color: var(--color-grey-3);
                    font-size: 20px;
                    font-family: var(--font-family);
                    @include desktop-normal{
                        font-size: 16px;
                      }
                      @include desktop-note-big{
                        font-size: 14px;
                    }
                   @include desktop-block{
                        padding-top: 15px;
                    }
                    @include phone{
                        font-size: 13px;
                    }
                    
                }
            }
            &-tag{
                padding-right: 60px;
                @include desktop-note-big{
                    padding-right: 40px;
                }
                &-time{
                    display: flex;
                    justify-content: flex-start;
                }
                &--tag{
                    text-transform: uppercase;

                }
            }
            &-time{
                @include desktop-normal{

                  }
                &--times{
                    @include desktop-normal{

                      }
                }
            }
            &-date{
                @include desktop-normal{

                  }
                &--date{
                    @include desktop-normal{

                      }
                }
            }
            &-title{
                padding-top: 20px;
                @include desktop-note-big{
                    padding-top: 15px;
                }
                @include desktop-block{
                    padding-top: 10px; 
                }
                @include phone{
                    padding-top: 11px;
                }
                &--title{
                    color: var(--color-grey);
                    font-size: 44px;
                    @include desktop-normal{
                        font-size: 36px;
                    }
                    @include desktop-note-big{
                        font-size: 32px;
                    }
                    @include phone{
                        font-size: 26px; 
                    }
                }
            }
            &-desc{
                padding-top: 15px;
                @include desktop-note-big{
                    padding-top: 10px;
                }
                &--desc{
                    color: var(--color-grey-2);
                    font-size: 24px;
                    @include desktop-normal{
                        font-size: 20px;
                    }
                    @include desktop-note-big{
                        font-size: 16px;
                    }
                    @include phone{
                        font-size: 15px; 
                    }
                }
            }
            &-link{
                padding-top: 50px;
                @include desktop-normal{
                    padding-top: 40px;
                }
                @include desktop-note-big{
                    padding-top: 35px;
                }
                &--link{
                    color: var(--color-grey);
                    font-family: var(--font-semibold);
                    padding-left: 34px;
                    font-size: 20px;
                    position: relative;
                    @include desktop-normal{
                        font-size: 18px;
                        padding-left: 30px;
                    }
                    @include desktop-note-big{
                        font-size: 15px;
                        padding-left: 28px;
                    }
                    &:hover{
                        color: var(--color-red);
                    }
                    &:before{
                        width: 24px;
                        height: 24px;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: transparent;
                        background-image: url('#{$assetsPath}/icons/icon-link-star.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: contain;
                        @include desktop-normal{
                          width: 20px;
                          height: 20px;
                        }
                        @include desktop-note-big{
                          width: 18px;
                          height: 18px;
                        }
                    }
                }
            }
        }
    }

  
  }
.p-single-blog{
    background-color: var(--color-bg);
    &-content{
        padding-bottom: 180px;        
        @include desktop-note-big{
            padding-bottom: 160px;
        }
        @include phone{
            padding-bottom: 140px;   
        }
    }
    .index{
        &-wrap{
            // height: 100%;
            display: flex;
            // align-items: center;
            justify-content: center;
            padding-top: pxVw(280, 2560);
            padding-bottom: pxVw(220, 2560);
            @include desktop-normal{
                padding-top: pxVw(200, 1920);
                padding-bottom: pxVw(180, 1920);
            }
            @include desktop-note-big{
                padding-top: 160px;
                padding-bottom: 160pxs;
            }
            @include desktop-block{

            }
            @include tablet{

            }
            @include phone{
                padding-top: 120px;
                padding-bottom: 25px;
            }
        }
        &-blog{
            // height: 80vh;
            .item{
                max-width: 1300px;
                padding-left: 25px;
                padding-right: 25px;
                @include desktop-normal{
                    max-width: 950px;
                  }
                @include desktop-note-big{
                    max-width: 810px;
                }
                @include tablet{
                    padding-left: 20px;
                    padding-right: 20px;
                    max-width: 678px;
                }
                @include phone{
                    max-width: 375px;
                }
                &-tag{
                    text-align: center;
                    padding-bottom: 90px; 
                    @include desktop-normal{
                        padding-bottom: 60px; 
                    }
                    @include desktop-note-big{
                        padding-bottom: 50px; 
                    }
                    @include desktop-block{

                    }
                    @include tablet{

                    }
                    @include phone{
                        padding-bottom: 35px; 
                    }
                    &--tag{
                        text-transform: uppercase;
                        font-size: 20px;
                        line-height: 150%;                        
                        color: var(--color-grey-3);
                        font-family: var(--font-medium);
                        @include desktop-normal{
                            font-size: 18px;
                        }
                        @include desktop-note-big{
                            font-size: 14px;
                        }
                        @include phone{
                            font-size: 13px;
                        }
                    }
                }
                &-title{
                    text-align: center;
                    &--title{
                        font-family: var(--font-bold);
                        font-size: 98px;
                        line-height: 120%;
                        @include desktop-normal{
                            font-size: 76px;
                        }
                        @include desktop-note-big{
                            font-size: 62px;
                        }
                        @include phone{
                            font-size: 40px;
                        }
                    }
                }
                &-date{
                    padding-top: 50px;
                    @include desktop-normal{
                        padding-top: 40px;
                    }
                    @include desktop-note-big{
                        padding-top: 35px; 
                    }
                    @include phone{
                        padding-top: 25px;
                    }
                    &-wrap{
                        display: flex;
                        justify-content: center;
                        color: var(--color-grey-2);
                        text-transform: uppercase;
                        font-size: 20px;
                        @include desktop-normal{
                            font-size: 16px;
                        }
                        @include desktop-note-big{
                            font-size: 14px;
                        }
                        @include phone{
                            font-size: 13px;
                        }
                    }
                    &--date{
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                    &--read{
                        padding-left: 40px;
                        padding-right: 40px;
                        position: relative;
                        &:before{
                            width: 4px;
                            height: 4px;                            
                            content: '';
                            color: var(--color-grey-5);
                            position: absolute;
                            left: 0;
                            top: 50%;
                            background-color: var(--color-grey-5);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: contain;
                        }
                        
                    }

                }
            }
        }
    }
    .posts{
        &-title{
            text-align: center;
            &--title{
                font-family: var(--font-bold);
                font-size: 64px;
                @include desktop-normal{
                    font-size: 54px;
                }
                @include desktop-note-big{
                    font-size: 48px;
                }
                @include phone{
                    font-size: 32px;
                }
            }
        }
        &-wrap{
            max-width: 1560px;
            width: 100%;
            margin: 0 auto;
            padding-left: 65px;
            padding-right: 65px;
            @include desktop-normal{
                padding-top: 50px;
                padding-bottom: 50px;
              }
            @include desktop-note-big{
                max-width: 1175px;
            }
            @include desktop-block{
                padding-left: 25px;
                padding-right: 25px;
                max-width: 100%;
            }
            @include tablet{
                padding-left: 65px;
                padding-right: 65px;
            }
            @include phone{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &-list{
            width: 100%;
            padding-top: 120px;
            @include desktop-normal{
                padding-top: 100px;
            }
            @include desktop-note-big{
                padding-top: 80px;
            }
            @include phone{
                padding-top: 50px;
            }
        }
        .item{

            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid var(--color-grey-5);
            @include desktop-note-big{
                padding-top: 40px;
                padding-bottom: 40px;
  
            }
            @include phone{
                padding-top: 30px;
                padding-bottom: 30px;
            }
            &:first-of-type{
                padding-top: 0;
            }
            &-wrap{
                display: flex;
                @include desktop-block{
                    flex-wrap: wrap;
                }

            }
            &-left{
                flex: 0 0 780px;
                max-width: 780px;
                position: relative;
                overflow: hidden;
                @include desktop-normal{
                    max-width: 574px;
                    flex: 0 0 574px;
                }
                @include desktop-note-big{
                    max-width: 500px;
                    flex: 0 0 500px;
                } 
                @include desktop-block{
                    max-width: 487px;
                    flex: 0 0 50%;
                }
                @include tablet{
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include phone{
    
                }
            }
            &-img{
                width: 100%;
                &:hover{
                    img{
                      transform: scale(1.05) rotate(-1deg);
                    
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1) rotate(0);
                    transition: all 0.3s linear;
                }
            }
            &-right{
                padding-left: 100px; 
                padding-right: 100px;
                flex: 1;
                @include desktop-normal{
                  padding-left: 60px;
                  padding-right: 84px;
                }
                @include desktop-note-big{
                    padding-left: 40px;
                    padding-right: 60px;
                }
               @include desktop-block{
                padding-left: 25px;
                padding-right: 40px;
                }
                @include tablet{
                    padding-left: 0;
                    padding-right: 0;
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include phone{

                }
                &-wrap{
                    @include desktop-normal{

                      }
                }
                &-top{
                    display: flex;
                    justify-content: space-between;
                    color: var(--color-grey-3);
                    font-size: 20px;
                    font-family: var(--font-family);
                    @include desktop-normal{
                        font-size: 16px;
                      }
                      @include desktop-note-big{
                        font-size: 14px;
                    }
                   @include desktop-block{
                        padding-top: 15px;
                    }
                    @include phone{
                        font-size: 13px;
                    }
                    
                }
            }
            &-tag{
                padding-right: 60px;
                @include desktop-note-big{
                    padding-right: 40px;
                }
                &-time{
                    display: flex;
                    justify-content: flex-start;
                }
                &--tag{
                    text-transform: uppercase;

                }
            }
            &-time{
                @include desktop-normal{

                  }
                &--time{
                    @include desktop-normal{

                      }
                }
            }
            &-date{
                @include desktop-normal{

                  }
                &--date{
                    @include desktop-normal{

                      }
                }
            }
            &-title{
                padding-top: 20px;
                @include desktop-note-big{
                    padding-top: 15px;
                }
                @include desktop-block{
                    padding-top: 10px; 
                }
                @include phone{
                    padding-top: 11px;
                }
                &--title{
                    color: var(--color-grey);
                    font-size: 44px;
                    @include desktop-normal{
                        font-size: 36px;
                    }
                    @include desktop-note-big{
                        font-size: 32px;
                    }
                    @include phone{
                        font-size: 26px; 
                    }
                }
            }
            &-desc{
                padding-top: 15px;
                @include desktop-note-big{
                    padding-top: 10px;
                }
                &--desc{
                    color: var(--color-grey-2);
                    font-size: 24px;
                    @include desktop-normal{
                        font-size: 20px;
                    }
                    @include desktop-note-big{
                        font-size: 16px;
                    }
                    @include phone{
                        font-size: 15px; 
                    }
                }
            }
            &-link{
                padding-top: 50px;
                @include desktop-normal{
                    padding-top: 40px;
                }
                @include desktop-note-big{
                    padding-top: 35px;
                }
                &--link{
                    color: var(--color-grey);
                    font-family: var(--font-semibold);
                    padding-left: 34px;
                    font-size: 20px;
                    position: relative;
                    @include desktop-normal{
                        font-size: 18px;
                        padding-left: 30px;
                    }
                    @include desktop-note-big{
                        font-size: 15px;
                        padding-left: 28px;
                    }
                    &:before{
                        width: 24px;
                        height: 24px;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: transparent;
                        background-image: url('#{$assetsPath}/icons/icon-link-star.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: contain;
                        @include desktop-normal{
                          width: 20px;
                          height: 20px;
                        }
                        @include desktop-note-big{
                          width: 18px;
                          height: 18px;
                        }
                    }
                    &:hover{
                        color:var(--color-red);
                    }
                }
            }
        }
    }
    .blog{
        &-top{
            padding-bottom: 50px;
            padding-left: 100px;
            padding-right: 100px;
            @include desktop-normal{
                padding-bottom: 40px;
                padding-left: 60px;
                padding-right: 60px;
            }
            @include desktop-note-big{
                padding-bottom: 30px;
                padding-left: 45px;
                padding-right: 45px;
            }
            @include desktop-block{
                padding-left: 25px;
                padding-right: 25px;
            }
            @include phone{
                padding: 20px;
            }
            &-wrap{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @include phone{
                    flex-wrap: wrap;
                }
            }
            &-nav{
                &-left{

                }
                &-right{

                }
                &-link{
                    font-size: 20px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: var(--color-grey-3);
                    @include desktop-normal{
                        font-size: 16px;
                    }
                    @include desktop-note-big{
                        font-size: 14px;
                    }
                }
            }
            &-center{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex: 1;
                max-width: pxVw(1560, 2560);
                @include desktop-normal{
                    max-width: pxVw(1148, 1920);
                } 
                @include desktop-note-big{
                    max-width: pxVw(1000, 1440);
                }
                @include desktop-block{
                    max-width: 100%;
                    justify-content: center;
                }
                @include phone{
                    order: -1;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-bottom: 60px;
                    display: flex;
                    justify-content: center;
                }
            }
            &-autor{
                display: flex;
                align-items: center ;
                .item{
                    &-img{
                        overflow: hidden;
                        border-radius: 100%;
                        width: 72px;
                        height: 72px;
                        @include desktop-normal{
                            width: 60px;
                            height: 60px;
                        }
                        @include desktop-note-big{
                            width: 52px;
                            height: 52px;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-desc{
                        padding-left: 25px;
                        @include desktop-note-big{
                            padding-left: 15px;
                        }
                        @include phone{
                            padding-right: 10px;
                        }
                    }
                    &-name{
                        &--name{
                            font-size: 28px;
                            color: var(--color-grey);
                            @include desktop-normal{
                                font-size: 24px;
                            }
                            @include desktop-note-big{
                                font-size: 20px;
                            }
                            @include phone{
                                font-size: 18px;
                            }
                        } 
                    }
                    &-status{
                        &--status{
                            font-size: 20px;
                            color: var(--color-grey-2);
                            @include desktop-normal{
                                font-size: 16px;
                            }
                            @include desktop-note-big{
                                font-size: 14px;
                            }
                            @include phone{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &-share{
                display: flex;
                align-items: center;
                @include desktop-block {
                    position: fixed;
                    right: 25px;
                    bottom: 25px;
                    display: block;
                    z-index: 1;
                }
                &-mobile{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: none;
                    background-color: var(--color-beage-3);
                    position: relative;
                    &.close{
                        .blog-top-share-icon{
                            background-image: url('#{$assetsPath}/icons/icon-social-close.svg');   
                        }
                    }
                    @include desktop-block{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                &-icon{
                    background-color: transparent;
                    background-image: url('#{$assetsPath}/icons/icon-social-mobile.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-color: var(--color-beage-3);
                    width: 20px;
                    height: 20px;
                }
                &-title{
                    padding-right: 15px;
                    color: var(--color-grey);
                    font-size: 24px;
                    @include desktop-normal{
                        font-size: 20spx;   
                    }
                    @include desktop-block{
                        display: none;
                    }
                }
                &-list{
                    display: flex;
                    @include desktop-block{
                        display: block;
                    }
                }
                &-li{
                    padding-left: 5px;
                    padding-right: 5px;
                    @include desktop-block{
                        padding-left: 0;
                        padding-right: 0;
                        padding-bottom: 20px;
                        opacity: 0;
                        transform: translateY(100%);
                        transition: opacity 0.3s linear, transform 0.3s linear;
                        &.open{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
                &-link{
                    width: 32px;
                    height: 32px;
                    display: block;
                    @include desktop-normal{
                        width: 24px;
                        height: 24px; 
                    }
                    @include desktop-block{
                        width: 40px;
                        height: 40px;
                    }
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
        &-img{
            .item{
                &-img{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &-signature{
                    padding-top: 10px;
                    text-align: center;
                    @include phone{
                        padding-top: 5px;  
                    }
                    &--signature{
                        color: var(--color-grey-3);
                        font-size: 20px;
                        @include desktop-normal{
                            font-size: 16px;
                        }
                        @include desktop-note-big{
                            font-size: 14px;
                        }

                    }
                }
            }
        }
        &-content{
            padding-bottom: 220px;
            @include desktop-normal{
                padding-bottom: 180px;
            }
            @include desktop-note-big{
                padding-bottom: 160px;
            }
            @include phone{
                padding-bottom: 140px;   
            }
            &-wrap{
                max-width: 1600px;
                margin: 0 auto;
                @include desktop-normal{
                    max-width: 1148px;
                }
                @include desktop-note-big{
                    max-width: 1130px;
                    padding-left: 65px;
                    padding-right: 65px;
                }
                @include tablet{
                    padding-left: 25px;
                    padding-right: 25px; 
                }
                @include phone{
                    padding-left: 20px;
                    padding-right: 20px; 
                }
            }
        }
    }
}