.p-home {
  background-color: var(--color-bg);
  .index {
    position: relative;
    overflow: hidden;
    // min-height: 100vh;
    min-height: 800px;
    height: 100vh;
    width: 100%;
    @include desktop-normal{
      min-height: 680px;
    }
    @include desktop-note-big{
      min-height: 560px;
    }
    @include desktop-block{
      min-height: 720px;
    }
    @include phone{
      min-height: 480px;
    }

    &-wrap {

    }
    .item{
      &-wrap{
        width: 100%;
        height: 100%;
        // min-height: 100vh;
        min-height: 800px;
        height: 100vh;
        position: relative;
        @include desktop-normal{
          min-height: 680px;
        }
        @include desktop-note-big{
          min-height: 560px;
        }
        @include desktop-block{
          min-height: 720px;
        }
        @include phone{
          min-height: 480px;
        }

      }
      &-content{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;
        @include tablet{
          padding-left: 10px;
          padding-right: 10px;
        }
        @include phone{ 
          padding-left: 20px;
          padding-right: 20px;
        }
        &-wrap{
          max-width: 1320px;
          width: 100%;
          text-align: center;
          display: flex;
          // flex-direction: column;
          // justify-content: space-between;
          justify-content: center;
          align-items: center;
          height: 100%;
          @include desktop-normal{
            max-width: 985px;
          }
          @include desktop-note-big{
            // max-width: 790px;
            max-width: 775px;
          }
          @include middle-tablet{
            max-width: 638px;
          }
          @include phone{
            max-width: 335px;
          }

        }
      }

      &-title{
        &--title{
          font-family: var(--font-bold);
          font-size: 98px;
          color: var(--color-grey);
          @include desktop-normal{
            font-size: 76px;
          }     
          @include desktop-note-big{
            // font-size: 62px;
            font-size: 58px;
          }
          @include desktop-block{

          }
          @include tablet{
        
          }
          @include phone{
            font-size: 40px;
          }
        }
      }
      &-img{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        @include phone{
          // padding-bottom: 100px;
          padding-bottom: 80px;
        }
        &-item{
          max-width: 250px;
          position: relative;
          @include desktop-normal{
            max-width: 225px;
          }
          @include desktop-note-big{
            max-width: 157px;
          }
          @include desktop-block{

          }
          @include tablet{

          }
          @include phone{
            max-width: 150px;
          }
          &-lottie{
            width: 100%;
            path{
              // fill: var(--color-red);
            }
          }
        }



      }
      &-bg{
        width: 100%;
        height: 100%;
        position: relative;
        #demo {
          position: absolute;
        }
        &:after{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          content: '';
          height: pxVw(288,2560); 
          background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(229,229,229,0) 1%, rgba(242, 240, 237, 1) 100%); 
          background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 1%,rgba(242, 240, 237, 1) 100%); 
          background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 1%,rgba(242, 240, 237, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#F2F0ED',GradientType=0 );
          @include desktop-normal{
            height: pxVw(288,1920); 
          }
          @include desktop-note-big{
            height: pxVw(160,1440); 
          }
          @include desktop-block{
            height: pxVw(160,1024); 
          }
          @include tablet{
            height: pxVw(160,768);
          }
          @include phone{
            height: pxVw(160,375); 
          }
          
        }
      }
    }


  }
  .portfolio{
    padding-top: 100px; 
    padding-bottom: 220px;
    overflow: hidden;
    // display: none;

    @include desktop-normal{
      padding-top: 80px;
      padding-bottom: 180px;
    }
    @include desktop-note-big{
      padding-top: 60px;  
      padding-bottom: 160px;
    }
    @include desktop-block{

    }
    @include tablet{
      padding-bottom: 150px;
    }
    @include phone{
      padding-top: 30px;  
      padding-bottom: 120px;
    }    
    &-wrap{
      max-width: 1800px;
      margin: 0 auto;
      @include desktop-normal{
        max-width: 1440px;
      }
      @include desktop-note-big{

        padding-left: 45px;
        padding-right: 45px;
      }
      @include desktop-block{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-cursive{
      text-align: center;
      &--cursive{
        font-family: var(--font-gloria);
        font-size: 28px;
        font-weight: var(--font-w-regular);
        line-height: 1.2;
        color:var(--color-red);
        @include desktop-normal{
          font-size: 24px;
        }
        @include desktop-note-big{
          font-size: 20px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 16px;
        }
      }
    }
    &-desc{
      padding-top: 50px;
      max-width: 800px;
      margin: 0 auto;
      @include desktop-normal{
        max-width: 660px;
      }
      @include desktop-note-big{
        max-width: 520px;
      }
      @include desktop-block{

      }
      @include tablet{

      }
      @include phone{

      }
      &--desc{
        text-align: center;
        font-size: 24px;
        line-height: 150%;
        @include desktop-normal{
          font-size: 20px;
        }
        @include desktop-note-big{
          font-size: 16px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 15px;
        }
      }
    }
    &-middle{
      padding-top: 220px;
      @include desktop-normal{
        padding-top: 180px;
      }
      @include desktop-note-big{
        padding-top: 160px;
      }
      @include desktop-block{

      }
      @include tablet{

      }
      @include phone{
        padding-top: 120px;
      }
      &-row{
          display: flex;
          margin:0 -40px;
          justify-content: center;
          @include desktop-normal{
            margin:0 -28px;
          }
          @include desktop-note-big{
            margin:0 -22px;
          }
          @include desktop-block{
            margin:0 -13px;
          }
          @include tablet{
    
          }
          @include phone{
            flex-wrap: wrap;
            margin: 0;
          }
      }
      &-col{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 40px;
        padding-right: 40px;
        @include desktop-normal{
          padding-left: 28px;
          padding-right: 28px;
        }
        @include desktop-note-big{
          padding-left: 22px;
          padding-right: 22px;
        }
        @include desktop-block{
          padding-left: 13px;
          padding-right: 13px;
        }
        @include tablet{
  
        }
        @include phone{
          flex: 0 0 100%;
          max-width: 100%;
          padding: 20px 0 0;
        }
        .item{
          height: 100%;
          overflow: hidden;
          @include phone{
            height: 388px;
          }
          &-video {
            width: 100%;
            position: relative;
            overflow: hidden;
            position: relative;
            height: 100%;
            @include tablet{
              transform: scale(1.15);
            }
            @include phone{
              background-color: var(--color-grey-6);
            }
            &--layout {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor:  url('#{$assetsPath}/images/cursor-play.svg') 4 12, auto;
            }
            iframe {
              bottom: 0;
              height: 100%!important;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              width: 100%!important;
            }
          }
          &-img{
            height: 100%;
            img{
              opacity: 0;
              transform: scale(1.1);
              height: 100%;
              width: 100%;
            }
          }
        }
      }

    }
    &-bottom{
      padding-top: 80px;
      @include desktop-normal{
        padding-top: 56px;
      }
      @include desktop-note-big{
        padding-top: 44px;
      }
      @include desktop-block{ 
        padding-top: 26px;
      }
      @include tablet{
        padding-top: 20px;
      }
      @include phone{

      }
      &-row{
        margin:0 -40px;
        @include desktop-normal{
          margin:0 -28px;
        }

        @include desktop-block{
  
        }
        @include tablet{
  
        }
        @include phone{
          flex-wrap: wrap;
          margin: 0;
        }
      }
      &-col{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        @include desktop-normal{
          padding-left: 28px;
          padding-right: 28px;
        }
        @include desktop-note-big{

        }
        @include desktop-block{
  
        }
        @include tablet{
  
        }
        @include phone{
            padding: 0;
        }
        .item{
          width: 100%;
          padding: 94px;
          background-color: var(--color-beage);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          @include desktop-block{
            padding: 40px;
          }
          @include phone{
            padding: 20px;
          }
          &::before{
            z-index: 1;
            content: '';
            position: absolute;
            transform: translateY(-20px);
            left: 0;
            top: 0;
            width: 100%;
            height: 25px;
            background-color: transparent;
            background-image: url('#{$assetsPath}/images/video-top-bg.png');
            background-position: left;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            @include desktop-block{
              height: 17px;
              transform: translateY(-15px);
            }
            @include tablet{
              height: 13px; 
              transform: translateY(-10px);
            }
            @include phone{
              height: 6px; 
              transform: translateY(-4px);
            }
          }
          // &-img{
          //   width: 100%;
          //   margin:0 auto;
          //   max-width: 1400px;
          //   img{
          //     width: 100%;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }
          &-video {
            width: 100%;
            // height: pxVw(926, 2560);
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // @include desktop-normal {
            //   height: pxVw(685, 1920);
            // }
            // @include desktop-note-big {
            //   height: pxVw(522, 1440);
            // }
            // @include desktop-block {
            //   height: pxVw(292, 1024);
            // }
            // @include tablet {
            //   height: pxVw(292, 768);
            // }
            @include phone {
              height: 100%;
            }
            &--layout {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
              height: 100%;
              width: 100%;
              opacity: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor:  url('#{$assetsPath}/images/cursor-play.svg') 4 12, auto;
            }
            iframe {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              height: 100%!important;
              width: 100%!important;
            }
          }

        }
      }
    }
    &-btns{
      padding-top: 35px;
      display: flex;
      justify-content: center;
      &-btn{
        max-width: 264px;
        margin: 0 auto;
        @include desktop-normal{
          max-width: 238px;
        }
        @include desktop-note-big{
          max-width: 214px;
        }
        @include phone{
          max-width: 192px;
        }
        .btn{
          display: block;
        }
      }
    }
  }
  .about{

    // padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    // cursor: none;
    background-color: transparent;
    background-image: url('#{$assetsPath}/images/home/about-bg-min.jpg');
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;

    &-wrap{
      padding-top: 220px; 
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 2560px;
      margin: 0 auto;
      @include desktop-normal{
        padding-top: 180px;
      }
      @include desktop-note-big{
        padding-top: 160px;
      }
      @include phone{
        padding-top: 140px;
      }
    }
    &-trigger{
      position: absolute;
      left: 0;
      top: 80px;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    &-content{
      // max-width: 1200px;
      margin: 0 auto;
      color: var(--color-white);
      text-align: center;
      padding-bottom: 120px;
      position: relative;
      z-index: 1;
      max-width: pxVw(1200,2560);
      @include desktop-normal{
        // max-width: 980px;
        max-width: pxVw(980,1920);
        padding-bottom: 100px;
      }
      @include desktop-note-big{
        // max-width: 880px;
        max-width: pxVw(880,1440);
        padding-bottom: 80px; 
      }
      @include desktop-block{
        max-width: 100%;
        padding-left: 72px;
        padding-right: 72px;
      }
      @include tablet{
        // max-width: 640px;
        padding-left: 65px;
        padding-right: 65px;
      }
      @include phone{
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    &-cursive{
      &--cursive{
        font-family: var(--font-gloria);
        font-size: 28px;
        font-weight: var(--font-w-regular);
        line-height: 1.2;
        color:var(--color-red);
        @include desktop-normal{
          font-size: 24px;
        }
        @include desktop-note-big{
          font-size: 20px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 16px;
        }
      }
    }
    &-title{
      padding-top: 50px;
      @include desktop-normal{
        padding-top: 40px;
      }
      @include desktop-note-big{
        padding-top: 35px;
      }
      @include phone{
        padding-top: 20px;
      }
      &--title{
        font-size: 64px;
        line-height: 125%;
        font-family: var(--font-bold);

        @include desktop-normal{
          font-size: 54px;
        }
        @include desktop-note-big{
          font-size: 48px;
        }
        @include phone{
          font-size: 32px;
        }
      }
    }
    &-desc{
      padding-top: 50px;
      max-width: pxVw(1200,2560);
      margin: 0 auto;
      @include desktop-normal{
        font-size: 54px;
        max-width: pxVw(980,1920);
      }
      @include desktop-note-big{
        padding-top: 35px;
        max-width: pxVw(800,1440);
      }
      @include desktop-block{
        max-width: pxVw(894,1024);
      }
      @include tablet{
        max-width: pxVw(638,768);
      }
      @include phone{
        padding-top: 20px;
        max-width: pxVw(335,375);
      }
      &--desc{
        text-align: center;
        font-size: 24px;
        line-height: 150%;
        color: var(--color-grey-5);
        @include desktop-normal{
          font-size: 20px;
        }
        @include desktop-note-big{
          font-size: 16px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 15px;
        }
      }
    }
    &-btns{
      padding-top: 50px;
      @include desktop-normal{
        font-size: 54px;
      }
      @include desktop-note-big{
        padding-top: 35px;
      }
      @include phone{
        padding-top: 20px;
      }
      &-btn{
        max-width: 264px;
        margin: 0 auto;
        @include desktop-normal{
          max-width: 238px;
        }
        @include desktop-note-big{
          max-width: 214px;
        }
        @include phone{
          max-width: 192px;
        }
        .btn{

        }
      }
    }
    &-middle{
      position: relative;
      z-index: 1;
      &-wrap{
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
        @include desktop-normal{
          padding-bottom: 60px;
        }
        @include desktop-note-big{
          padding-bottom: 45px;
        }
        @include desktop-block{
          padding-bottom: 25px;
        }
        @include tablet{

        }
        @include phone{
          padding-bottom: 20px;
        }
      }
    }
    &-img{
      margin: 0 auto;
      overflow: hidden;
      width: pxVw(2360,2560);
      height: pxVw(1574,2560);
      @include desktop-normal{
        width: pxVw(1800,1920);
        height: pxVw(1200,1920);
      }
      @include desktop-note-big{
        width: pxVw(1350,1440);
        height: pxVw(900,1440);
      }
      @include desktop-block{
        width: pxVw(974,1024);
        height: pxVw(650,1024);
      }
      @include tablet{
        width: pxVw(714,768);
        height: pxVw(480,768);
      }
      @include phone{
        width: pxVw(335,375);
        height: pxVw(224,375);
      }
      &-block{
        width: 100%;
        height: 100%;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform: scale(1.1);
      }
    }
    &-bg{
      width: 100%;
      height: 100vh;
      // height: 100%;
      // position: relative;
      position: absolute;
      left: 0;
      top: 0;
      // display: none; 
      #demoPerspective {
        // cursor: none;
        position: absolute;
      }
    }
  }
  .work{
    padding-top: 220px; 
    padding-bottom: 220px;
    // padding-bottom: 100px;
    position: relative;
    @include desktop-normal{
      padding-top: 180px; 
      padding-bottom: 180px;
    }
    @include desktop-note-big{
      padding-top: 160px; 
      padding-bottom: 160px;
    }
    @include phone{
      padding-top: 120px; 
      padding-bottom: 120px;
    }
    &-wrap{
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 2560px;
      margin: 0 auto;
      padding-left: 100px;
      padding-right: 100px;
      @include desktop-block{
        padding-left: 65px;
        padding-right: 65px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-top{
      max-width: 1200px;
      margin: 0 auto;
    }
    &-content{
      max-width: 1240px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      padding-top: 80px;
      justify-content: space-between;
      @include desktop-normal{
        max-width: 1064px;
      }
      @include phone{
        flex-wrap: wrap;
      }
      &-left{
        // flex: 0 0 50%;
        // max-width: 50%;
        flex: 1;
        padding-right: 40px;
        @include tablet{
          padding-right: 5px;
        }
        @include phone{
          padding-right: 0;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      &-right{
        flex: 0 0 384px;
        max-width: 384px;
        @include desktop-normal{
          flex: 0 0 306px;
          max-width: 306px;
        }
        @include desktop-note-big{
          flex: 0 0 264px;
          max-width: 264px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      &-list{
        max-width: 662px;
        width: 100%;
        .item{
          border-top: 1px solid var(--color-grey-5);
          padding-top: 45px;
          padding-bottom: 45px;
          &:first-of-type{
            border-top: none;
            padding-top: 40px;
          }
          &:nth-of-type(2n+1){
            .item-link--link{
              &:before{
                width: 24px;
                height: 24px;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: transparent;
                background-image: url('#{$assetsPath}/icons/icon-link-star.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: contain;
                @include desktop-normal{
                  width: 20px;
                  height: 20px;
                }
                @include desktop-note-big{
                  width: 18px;
                  height: 18px;
                }
              }
              &:hover{
                // &:before{
                //   background-image: url('#{$assetsPath}/icons/icon-link-play.svg');
                // }
              }
            }
          }
          &:nth-of-type(2n){
            .item-link--link{
              &:before{
                width: 24px;
                height: 24px;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: transparent;
                background-image: url('#{$assetsPath}/icons/icon-link-play.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: contain;
                @include desktop-normal{
                  width: 20px;
                  height: 20px;
                }
                @include desktop-note-big{
                  width: 18px;
                  height: 18px;
                }
              }
              // &:hover{
              //   &:before{
              //     background-image: url('#{$assetsPath}/icons/icon-link-star.svg');
              //   }
              // }
            }
          }
          &-wrap{
            // opacity: 0;
          }
          &-title{
            &--title{
              color: var(--color-grey);
              // font-family: var(--font-bold);
              font-size: 44px;
              line-height: 130%;
              @include desktop-normal{
                font-size: 36px;
              }
              @include desktop-note-big{
                font-size: 32px;
              }
              @include phone{
                font-size: 26px;
              }
            }
          }
          &-desc{
            padding-top: 15px;
            @include desktop-normal{
              max-width: 574px;
            }
            @include desktop-note-big{
            }
            @include desktop-block{
              max-width: 500px;
            }
            @include tablet{
              max-width: 365px;
            }
            @include phone{ 
              max-width: pxVw(335,375);
            }
            &--desc{
              color: var(--color-grey-2);
              font-size: 18px;
              line-height: 150%;
              @include desktop-normal{
                font-size: 16px;
              }
              @include desktop-note-big{
                font-size: 14px;
              }
            } 
          }
          &-link{
            padding-top: 25px;
            &--link{
              color: var(--color-grey);
              font-size: 20px;
              line-height: 120%;
              font-family: var(--font-bold);
              padding-left: 34px;
              position: relative;
              @include desktop-normal{
                font-size: 18px;
                padding-left: 30px;
              }
              @include desktop-note-big{
                font-size: 15px;
                padding-left: 28px;
              }
              &:hover{
                color: var(--color-red);
              }

            }
          }
        }
      }
    }
    &-cursive{
      text-align: center;
      &--cursive{
        font-family: var(--font-gloria);
        font-size: 28px;
        line-height: 1.2;
        color:var(--color-red);
        @include desktop-normal{
          font-size: 24px;
        }
        @include desktop-note-big{
          font-size: 20px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 16px;
        }
      }
    }
    &-title{
      text-align: center;
      padding-top: 35px;
      &--title{
        font-size: 64px;
        line-height: 125%;
        font-family: var(--font-bold);
        color:var(--color-grey);
        @include desktop-normal{
          font-size: 54px;
        }
        @include desktop-note-big{
          font-size: 48px;
        }
        @include desktop-block{
 
        }
        @include tablet{

        }
        @include phone{
          font-size: 32px;
        }
      }
    }
    &-desc{
      padding-top: 35px;
      text-align: center;
      max-width: pxVw(1200,2560);
      margin: 0 auto;
      @include desktop-normal{
        max-width: pxVw(980,1920);

      }
      @include desktop-note-big{

        max-width: pxVw(880,1440);

      }
      @include desktop-block{
        max-width: 100%;

      }
      @include tablet{

      }
      @include phone{

      }
      &--desc{
        text-align: center;
        font-size: 24px;
        line-height: 150%;
        color:var(--color-grey-2);
        @include desktop-normal{
          font-size: 20px;
        }
        @include desktop-note-big{
          font-size: 16px;
        }
        @include desktop-block{

        }
        @include tablet{

        }
        @include phone{
          font-size: 15px;
        }
      }
    }

    &-img{
      max-width: 384px;
      height: auto;
      @include tablet{
        max-width: 264px;
      }
      @include phone{
        margin: 0 auto;
      }
      .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        &-desk{
            display: block;
          @include phone{
            display: none;
          }
        }
        &-mobile{
            display: none;
          @include phone{
              display: block;
          }
        }

      }
    }

  }
  .news{
    padding-top: 120px; 
    padding-bottom: 220px;
    background-color: var(--color-beage);

    @include desktop-normal{
      padding-top: 100px; 
      padding-bottom: 180px;
    }
    @include desktop-note-big{
      padding-top: 80px; 
      padding-bottom: 160px;
    }
    @include phone{
      padding-top: 50px; 
      padding-bottom: 120px;
    }

    &-wrap{
      max-width: 1800px;
      margin: 0 auto;
      // padding-left: 20px;
      // padding-right: 20px;
      padding-left: pxVw(40, 2560);
      padding-right: pxVw(40, 2560);
      @include desktop-normal{
        max-width: 1440px;
        padding-left: pxVw(40, 1920);
        padding-right: pxVw(40, 1920);
      }
      @include desktop-note-big{
        padding-left: 45px;
        padding-right: 45px;
      }
      @include desktop-block{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include tablet{
        padding-left: 65px;
        padding-right: 65px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-block{
        width: 100%;
    }
    &-row{
      display: flex;
      flex-wrap: nowrap;
      // margin: 0 -40px;
      margin: 0 -(pxVw(40, 2560));
      @include desktop-normal{
        margin: 0 -(pxVw(40, 1920));
      }
      @include desktop-note-big{
        margin: 0 -22px;
      }
      @include desktop-block{
        margin: 0 -13px;
      }
      @include tablet{
        flex-wrap: wrap;
        margin: 0;
      }
    }
    &-col{
      flex: 0 0 50%;
      max-width: 50%;
      // padding-left: 40px;
      // padding-right: 40px;
      padding-left: pxVw(40, 2560);
      padding-right: pxVw(40, 2560);
      // padding-bottom: 80px;
      @include desktop-normal{
        padding-left: pxVw(40, 1920);
        padding-right: pxVw(40, 1920);
      }
      @include desktop-note-big{
        padding-left: 22px;
        padding-right: 22px;
      }
      @include desktop-block{
        padding-left: 13px;
        padding-right: 13px;
      }
      @include tablet{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0 80px;
      }
      @include phone{
        padding: 0 0 50px;
      }
      &:last-of-type{
        @include tablet{
          padding-bottom: 0;
        }
      }
      .item{
        &-img{
          // margin: 0 auto;
          overflow: hidden;
          width: 100%;
          &:hover{
            img{
              transform: scale(1.05) rotate(-1deg);
            }
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1) rotate(0);
            transition: all 0.3s linear;
          }
        }
        &-tag{
          padding-top: 25px;
          @include desktop-note-big{
            padding-top: 20px;
          }
          &--tag{
              text-transform: uppercase;
              color: var(--color-grey-3);
              font-size: 20px;
              @include desktop-normal{
                font-size: 16px;
              }
              @include desktop-note-big{
                font-size: 14px;
              }
 
          }
        }
        &-title{
          padding-top: 5px;
          &--title{
            color: var(--color-grey);
            font-size: 32px;
            width: 100%;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis;
            @include desktop-normal{
              font-size: 28px;
            }
            @include desktop-note-big{
              font-size: 24px;
            }
            @include phone{
              font-size: 22px;
            }
          }
        }
      }
    }



  }

}
