* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-black);
}

body {
  min-height: 100%;
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  border: 0;
  color:var(--color-grey);
  width: 100%;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  // cursor:  url('#{$assetsPath}/images/cursor-dot.png') 4 12, auto;
  // cursor: none;
  // a,button,.btn{
  //   cursor: pointer!important;
  // }
  .cursor{
    width: 7px;
    height: 7px;
    position: fixed;
    transform: translate(-7px,-7px);
    left: 0;
    top: 0;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    // background-color: #ccc;

    &-dot{
      width: 7px;
      height: 7px;
      display: block;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        transform: translate(-5px,-5px);
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        background-color: var(--color-red);
        border-radius: 7px;
        display: block;
      }
      &.video{
        &::before{
          transform: translate(-15px,-15px);
          width: 20px;
          height: 16px;
          background-color: transparent;
          background-image: url('#{$assetsPath}/images/cursor-play.svg');
          background-position: left;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: contain;
          border-radius: 0;
        }
      }
    }
  }
  &.open-menu{
    @include desktop-block{
      overflow: hidden;
    }
  }
  &.preloader-active{
    overflow: hidden;
    .c-header{
      a,button{
        pointer-events: none!important;
      }

    }

  }
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.site {
  // display: flex;
  min-height: 100vh;
  // flex-direction: column;
  // justify-content: space-between;
  position: relative;
  &-main{
    width: 100%;
    min-height: 80vh;
  }

}

img {
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 1;
}




p {
  font-size: 20px;
  line-height: 150%;
  font-family: var(--font-regular);
  //color: var(--color-black);
  padding-top: 20px;
  @include desktop-normal{
    font-size: 18px;
  }
  @include desktop-note-big{
    font-size: 16px;
  }
  @include phone{
    font-size: 14px;
  }
  &:first-of-type{
    padding-top: 0;
  }
}

h1{
  font-size: 64px;
  line-height: 120%;
  font-family: var(--font-bold);
  word-wrap: break-word;
  // font-weight: var(--font-w-semi);
  @include desktop-note-big {
    font-size: 64px;
  }
  @include phone {
    font-size: 34px;
  }
}

h2 {
  font-size: 64px;
  line-height: 120%;
  font-family: var(--font-bold);
  word-wrap: break-word;
  // font-weight: var(--font-w-semi);
  @include desktop-note-big {
    font-size: 64px;
  }
  @include phone {
    font-size: 34px;
  }
}

h3{
font-size: 64px;
line-height: 120%;
font-family: var(--font-bold);
word-wrap: break-word;
// font-weight: var(--font-w-semi);
@include desktop-note-big {
  font-size: 64px;
}
@include phone {
  font-size: 34px;
}
}



h4 {
  font-size: 64px;
  line-height: 120%;
  font-family: var(--font-bold);
  word-wrap: break-word;
  // font-weight: var(--font-w-semi);
  @include desktop-note-big {
    font-size: 64px;
  }
  @include phone {
    font-size: 34px;
  }
}
h5 {
  font-size: 44px;
  line-height: 130%;
  font-family: var(--font-bold);
  word-wrap: break-word;
  // font-weight: var(--font-w-semi);
  @include desktop-note-big {
    font-size: 24px;
    line-height: 140%;
  }
}
h6,
.title-h6 {
  font-size: 32px;
  line-height: 130%;
  font-family: var(--font-bold);
  word-wrap: break-word;
}



.btn-modal-js {
  cursor: pointer;
}
.open-modal {
  padding-right: 16px;
}



@keyframes custom {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(0, 5px) scale(1.2);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes custom2 {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(0, 5px) scale(1.2);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}



// .item-edit{
//   a{
//     color: var(--color-red);
//     text-decoration: underline;
//     font-family: var(--font-bold);
//     cursor: pointer;
//     &:hover{
//       text-decoration: none;
//     }
//   }
//   p{
//     padding-top: 20px;
//     @include phone{
//       padding-top: 15px;
//     }
//     &:first-of-type{
//       padding-top: 0;
//     }
//   }

// }

.page-fixed{
  .c-scrollbar{
    opacity: 0;
  }
}



.p-content{
  overflow: hidden;
}


// antispam
.agree {display:none}



.c-article-content{
  & > *{
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    @include desktop-normal{
      max-width: 780px;
    }
    @include desktop-note-big{
      max-width: 638px;
    }
  }

  &> div.wp-caption {
    width: auto !important;
    max-width: none;
    margin-top: 100px;
    // margin-bottom: 100px;
    margin-bottom: 60px;
    @include desktop-normal{
      margin-top: 70px;
      // margin-bottom: 70px;
      margin-bottom: 30px;
    }
    @include desktop-note-big{
      margin-top: 60px;
      // margin-bottom: 60px;
    }
    @include phone{
      margin-top: 45px;
      // margin-bottom: 45px;
    }
    & > img{
      max-width: 100%;
    }
    .wp-caption-text{
      padding-top: 10px;
      color: var(--color-grey-3);
      font-size: 20px;
      text-align: center;
      @include desktop-normal{
        font-size: 16px;
      } 
      @include phone{
        font-size: 14px;
      }
    }
  }

  & > img{
    max-width: 100%;
    margin-top: 100px;
    // margin-bottom: 100px;
    @include desktop-normal{
      margin-top: 70px;
      // margin-bottom: 70px;
    }
    @include desktop-note-big{
      margin-top: 60px;
      // margin-bottom: 60px;
    }
    @include phone{
      margin-top: 45px;
      // margin-bottom: 45px;
    }
  }
  h1,h2,h3,h4,h5,h6{
    padding-top: 100px;
    line-height: 150%;
    font-family: var(--font-bold);
    @include desktop-normal{
      padding-top: 70px;
    }
    @include desktop-note-big{
      padding-top: 60px;
    }
    @include phone{
      padding-top: 45px;
    }
  }
  h1{
    font-size: 44px;
    @include desktop-normal{
      font-size: 36px;
    }
    @include desktop-note-big{
      font-size: 32px;
    }
    @include phone{
      font-size: 26px;
    }
  }
  h2{
    font-size: 44px;
    @include desktop-normal{
      font-size: 36px;
    }
    @include desktop-note-big{
      font-size: 32px;
    }
    @include phone{
      font-size: 26px;
    }
  }
  h3{
    font-size: 44px;
    @include desktop-normal{
      font-size: 36px;
    }
    @include desktop-note-big{
      font-size: 32px;
    }
    @include phone{
      font-size: 26px;
    }
  }
  h4{
    font-size: 32px;
    @include desktop-normal{
      font-size: 28px;
    }
    @include desktop-note-big{
      font-size: 24px;
    }
    @include phone{
      font-size: 22px;
    }
  }
  h5{
    font-size: 28px;
    @include desktop-normal{
      font-size: 24px;
    }
    @include desktop-note-big{
      font-size: 22px;
    }
    @include phone{
      font-size: 20px;
    }
  }
  h6{
    font-size: 24px;
    @include desktop-normal{
      font-size: 22px;
    }
    @include desktop-note-big{
      font-size: 20px;
    }
    @include phone{
      font-size: 18px;
    }
  }

  p{
    padding-top: 40px;
    font-size: 24px;
    line-height: 150%;
    @include desktop-normal{
      font-size: 20px;
      padding-top: 30px;
    }
    @include desktop-note-big{
      font-size: 16px;
      padding-top: 25px;
    }
    @include desktop-block{
      font-size: 16px;
    }
    @include tablet{
      padding-top: 30px;
    }
    @include phone{
     font-size: 15px;
    //  padding-top: 15px;
    }
    &:first-of-type{
      padding-top: 0;
    }
  }
  ul{
    list-style-type: disc;
    list-style-position: outside;
    line-height: 160%;
    display: block;
    &:before{
      content: counter(item) ". "; 
      counter-increment: item; 
      font-family: var(--font-bold);
      // font-weight: bold;
      color: var(--color-red);
    }
  }
  ol{
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 20px;
    // color: var(--color-red);
    font-size: 24px;
    line-height: 150%;
    counter-reset: item;
    @include desktop-normal{
      font-size: 20px;
    }
    @include desktop-note-big{
      font-size: 16px;
    }
    @include desktop-block{
      font-size: 16px;
    }
    @include phone{
     font-size: 15px;
    }
    li{
      // color: var(--color-red);
      display: block;
      &:before{
        content: counter(item) ". "; 
        counter-increment: item; 
        font-family: var(--font-bold);
        // font-weight: bold;
        color: var(--color-red);
        font-size: 18px;
          @include desktop-normal{
            font-size:16px;
          }
          @include desktop-note-big{
            font-size: 14px;
          }
          @include phone{ 
          font-size: 13px;
          }
      }
    }

  }
  li{
    padding-top: 16px;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-grey);
    @include desktop-normal{
      font-size: 20px;
    }
    @include desktop-note-big{
      font-size: 16px;
    }
    @include desktop-block{
      font-size: 16px;
    }
    @include phone{
     font-size: 15px;
    }
    &:list-style-type{
      padding-top: 0;
    }
  }
  a{
    color: var(--color-red);
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  strong{
    // font-weight: var(--font-w-bold);
    font-family: var(--font-bold);
  }
  em{
    font-style: italic;
  }

  blockquote{
    color: var(--color-red);
    font-size: 28px;
    line-height: 150%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 30px 50px;
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      width: 8px;
      height: 100%;
      content: '';
      // background-color: var(--color-red);
      background-image: url('#{$assetsPath}/icons/icon-quote-line.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: contain;
    }
    // &:after{
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    //   width: 56px;
    //   height: 38px;
    //   content: '';
    //   background-color: transparent;
    //   background-image: url('#{$assetsPath}/icons/icon-blockquote-right.svg');
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-attachment: scroll;
    //   background-size: contain;
    // }
    @include desktop-normal{
      font-size: 28px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include desktop-note-big{
      font-size: 24px;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    @include phone{
     font-size: 22px;
     margin-top: 40px;
     margin-bottom: 40px; 
     padding: 15px;
    }
  }
}