:root {
  // Colors for project
  --color-black: #000000; //rgba(0, 0, 0, 1)
  --color-white: #ffffff;


  --color-grey: #2E2E2E; //rgba(46, 46, 46, 1)
  --color-grey-1: #2E2E2E; //rgba(46, 46, 46, 1)
  --color-grey-2: #555554; //rgba(85, 85, 84, 1)
  --color-grey-3: #7B7A77; //rgba(123, 122, 119, 1)
  --color-grey-4: #9C9B98; //rgba(156, 155, 152, 1)
  --color-grey-5: #B7B6B4; //rgba(183, 182, 180, 1)
  --color-grey-6: #E5E5E5; 

  --color-beage: #F2F0ED;  //rgba(242, 240, 237, 1)
  --color-beage-1: #EFEBE5; //rgba(239, 235, 229, 1)
  --color-beage-2: #E8E3DB; //rgba(232, 227, 219, 1)
  --color-beage-3: #E3DCD1; //rgba(227, 220, 209, 1)
  

  --color-red: #D54242; //rgba(212, 66, 66, 1)


  --color-bg: #FBFAF2;
  --color-bg-1: #F7F9FB;

  --color-green: #C7C8AD; //rgba(199, 200, 173, 1)


  --color-blue: #246bae;
  --color-blue-1: #26abd6;
  --color-blue-2: #77f4e2;
  
}