.c-footer {
  background-color: var(--color-grey);
  position: relative;
  // padding-bottom: 24px;
  &-logo{
    &-item{
      width: 100%;
      max-width: 244px;
      display: block;
      @include desktop-normal{
        max-width: 197px;
      }
      @include desktop-note-big{
        max-width: 167px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &-top{
    background-color: var(--color-grey);
    padding-top: 120px;
    padding-bottom: 60px;
    @include desktop-normal{
      padding-top: 100px;
      padding-bottom: 40px; 
    }
    @include desktop-note-big{
      padding-top: 70px;
      padding-bottom: 53px;
    }
    @include phone{
      padding-bottom: 42px;
    }
    &-wrap{
      display: flex;
      flex-wrap: nowrap;
      max-width: 1324px;
      margin: 0 auto;
      @include desktop-normal{
        max-width: 1148px;
      }
      @include desktop-note-big{
        max-width: 1000px;
      }
      @include desktop-block{
        padding-left: 65px;
        padding-right: 65px;
        max-width: 100%;
      }

      @include middle-tablet{
        padding-left: 25px;
        padding-right: 25px;
      }

      @include tablet{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-item{
      .item{
        &-title{
          &--title{
            color: var(--color-white);
            font-family: var(--font-bold);
            line-height: 125%;
            font-size: 64px;
            @include desktop-normal{
              font-size: 54px;
            }
            @include desktop-note-big{
              font-size: 48px;
            }
            @include phone{
              font-size: 32px;
            }
          }
        }
        &-btns{
          padding-top: 40px;
          @include desktop-note-big{
            padding-top: 25px;
          }
          @include phone{
            padding-top: 30px;
          }
          &-btn{
            max-width: 246px;
            @include desktop-normal{
              max-width: 224px;
            }
            @include desktop-note-big{
              max-width: 214px;
            }
            @include phone{
              max-width: 192px;
            }
            .btn{
              padding: 0;
              position: relative;
              // &-item{
              //   display: block;
              //   width: 100%;
              //   height: 100%;
              //   position: absolute;
              //   left: 0;
              //   top: 0;
              //   z-index: 10;
              // }
            }
          }
        }
      }

    }

  }
  &-middle{
    background-color: var(--color-grey);
    padding-top: 80px;
    @include desktop-normal{
      padding-top: 50px;
    }
    &-wrap{
      display: flex;
      justify-content: space-between;
      max-width: 1324px;
      margin: 0 auto;
      @include desktop-normal{
        max-width: 1148px;
      }
      @include desktop-note-big{
        max-width: 1000px;
      }
      @include desktop-block{
        padding-left: 65px;
        padding-right: 65px;
        max-width: 100%;
      }
      @include middle-tablet{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include tablet{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
      }
    }
    &-left{
      // flex: 0 0 635px;
      // max-width: 635px;
      flex: 0 0 50%;
      max-width: 50%;
      @include desktop-normal{

      }
      @include desktop-note-big{

      }
      @include desktop-block{
        flex: 0 0 40%;
        max-width: 40%;
      }
      @include tablet{
        flex: 0 0 30%;
        max-width: 30%;
      }
      @include phone{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &-right{
      @include phone{
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 60px;
      }
    }
  }
  &-bottom{
    background-color: var(--color-grey);
    padding-bottom: 24px;
    padding-top: 100px;
    @include desktop-normal{
      padding-top: 85px;
    }
    @include desktop-note-big{
      padding-top: 60px;
    }
    @include desktop-block{
      padding-top: 52px;
    }
    @include tablet{
      padding-top: 40px;
    }
    @include phone{
      padding-top: 50px;
    }
    &-wrap{ 
      max-width: 1324px;
      margin: 0 auto;
      @include desktop-normal{
        max-width: 1148px;
      }
      @include desktop-note-big{
        max-width: 1000px;
      }
      @include desktop-block{
        padding-left: 65px;
        padding-right: 65px;
        max-width: 100%;
      }
      @include middle-tablet{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include tablet{
        padding-left: 25px;
        padding-right: 25px;
      }
      @include phone{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &-social{
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    &-item{
      padding-left: 15px;
      padding-right: 15px

    }
    &-link{

      &.linkedin,&.instagram{
        path{
          fill: var(--color-grey-4);
        }
        &:hover{
          path{
            fill: var(--color-beage);
          }
        }
      }
      &.dribble{
        stroke: var(--color-grey-4);
        &:hover{
          path{
            stroke: var(--color-beage);
          }
        }
      }

    }
  }
  &-desc{
    // padding-top: 20px;
    max-width: 385px;
    @include desktop-normal{
      max-width: 340px;
    }
    @include desktop-note-big{
      max-width: 300px;
    }
    @include desktop-block{

    }
    @include tablet{
      max-width: 200px;
    }
    @include phone{
      max-width: 100%;
    }
    .item{
      &-title{
        &--title{
          color: var(--color-white);
          font-size: 32px;
          @include desktop-normal{
            font-size: 24px;
          }
          @include desktop-note-big{
            font-size: 20px;
          }

        }
      }
      &-desc{
        padding-top: 5px;
        &--desc{
          color:var(--color-grey-4);
          font-size: 18px;
          @include desktop-normal{
            font-size: 16px;
          }
          @include desktop-note-big{
            font-size: 14px;
          }
        }
      }

    }
  }
  &-menu{
    ul{
      // display: flex;
      // justify-content: flex-start;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: 230px 230px 130px;
      @include desktop-normal{
        grid-template-columns: 220px 220px 120px;
      }
      @include desktop-note-big{
        grid-template-columns: 175px 175px 105px;
      }
      @include tablet{
        grid-template-columns: 155px 155px 105px;
      }
      @include phone{
        grid-template-columns: 1fr  1fr;
      }
    }
    li{
      color: var(--color-white);
      font-size: 15px;
      letter-spacing: 0.5px;
      padding-bottom: 10px;
      // flex: 0 0 33%;
      // max-width: 230px;  
      &:first-of-type{
        padding-left: 0;
        &>a{
          pointer-events:all;
          opacity:1;
        }

      }
      &.current-menu-item{

      }
      a{
        color: var(--color-white);
        transition: color 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.5px;
        padding-bottom: 3px;
        position: relative;
        // pointer-events: none;
        // opacity: 0.5;
        @include desktop-normal{
          font-size: 18px;
        }
        @include desktop-note-big{
          font-size: 16px;
        }
        &:after{
          content: '';
          left: 0;
          bottom: 0;
          position: absolute;
          height: 3px;
          width: 100%;
          // background-color: var(--color-red);
          background-color: transparent;
          background-image: url('#{$assetsPath}/icons/icon-underline.svg');
          background-position: left;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
          transform-origin: right;
        }
        &:hover{
          &:after{
            transform-origin: left;
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
          }
        }
      }
      // &.menu-item-portfolio,&.menu-item-about-us,&.menu-item-blog{
      //   & > a {
      //     pointer-events: all;
      //     opacity:1;
      //   }
      // }
      &.join-us{
        a{
          color: var(--color-red);
          font-family: var(--font-bold);
          pointer-events: all;
          opacity:1;
          &:after{
            position: absolute;
            top: 25px;
            left: 0;
            width: 150px;
            height: 100px;
            background-color: transparent;
            background-image: url('#{$assetsPath}/images/home/giphy.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: contain;
            opacity: 0;
            // transition: opacity 0.3s linear;
          }
          &:hover{
            &:after{
              opacity: 1;
            }
          }
        }
      }
    }

  }
}
.join{
  padding-top: 100px;
  &-bg{
    background-color: var(--color-beage);
    padding-top: 120px;
    padding-bottom: 140px;
    @include desktop-normal{
      padding-top: 100px;
      padding-bottom: 120px;
    }
    @include desktop-note-big{

    } 
    @include desktop-block{

    }

    @include tablet{
      // padding-top: 160px;
      padding-top: 0;
      padding-bottom: 80px;
    }
    @include phone{
      // padding-top: 140px;
      padding-bottom: 56px;
    }
  }
  &-wrap{
    display: flex;
    flex-wrap: nowrap;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    @include desktop-normal{
      max-width: 1694px;
    }
    @include desktop-note-big{
      max-width: 1296px;
    }
    @include desktop-block{
      padding-left: 53px;
      padding-right: 53px;
      // max-width: 918px;
      max-width: 100%;

    }

    @include tablet{
      flex-wrap: wrap;
      padding-left: 65px;
      padding-right: 65px;
    }

    @include phone{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &-item{
    padding-left: pxVw(335,2560);
    padding-right: 20px;
    @include desktop-normal{
      padding-left: pxVw(274,1920);
    }
    @include desktop-note-big{
      padding-left: pxVw(148,1440);
    }
    @include desktop-block{
      padding-left: pxVw(12,1024);
    }
    @include tablet{
      padding-left: 0;
      order: 1;
      padding-right: 0;
    }
    .item{
      &-desc{
        max-width: 740px;
        @include desktop-normal{

        }
        @include desktop-note-big{
          max-width: 640px;
        }
        @include desktop-block{
          max-width: 527px;
        }
        @include tablet{
          max-width: 100%;
        }
        @include phone{

        }
        &--desc{
          color: var(--color-grey);
          line-height: 130%;
          font-size: 36px;
          @include desktop-note-big{
            font-size: 32px;
          }
          @include phone{
            font-size: 26px;
          }
        }
        a{
          color: var(--color-red);
        }
      }


    }

  }
  &-svg{
    flex: 1;
    @include tablet{
      flex: 0 0 100%;
      max-width: 100%;
      height: pxVw(160,768);
    }
    @include phone{
      height: pxVw(140,375);
    }
    .item{
      &-img{
        position: absolute;
        right: 0;
        top: 0;
        width: pxVw(425,2560);
        height: pxVw(427,2560);
        transform: translate(0,- pxVw(220,2560));
        @include desktop-normal{
          width: pxVw(425,1920);
          height: pxVw(427,1920);
          transform: translate(0,- pxVw(220,1920));
        }
        @include desktop-note-big{
          width: pxVw(362,1440);
          height: pxVw(364,1440);
          transform: translate(0,- pxVw(180,1440)); 
        }
        @include desktop-block{
          width: pxVw(290,1024);
          height: pxVw(292,1024);
          transform: translate(0,- pxVw(180,1024)); 
        }
        @include tablet{
          width: pxVw(235,768);
          height: pxVw(237,768);
          transform: translate(- pxVw(53,768),- pxVw(80,768)); 
          // position: relative;
        }
        @include phone{
          width: pxVw(157,375);
          height: pxVw(158,375);
          transform: translate(- pxVw(43,375),- pxVw(50,375)); 
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}