.c-header {
  // padding: 63px 105px;
  padding: 41px 105px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  @include desktop-normal{
    padding: 37px 68px;
  }
  @include desktop-note-big{
    padding: 32px 73px;
  }
  @include desktop-block{
    padding: 28px 24px;

  }
  @include phone{
    padding: 20px 14px;
  }
  &-progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    display: block;
    z-index: 1000;
    &-line {
      height: 4px;
      background-color: var(--color-red);
      width: 0;
      transition: width 0.2s linear;
    } 
  }
  &-wrap{
    z-index: 10;
    // max-width: 1200px;
    // margin: 0 auto;
    // flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &-left{
    padding: 20px;
    justify-content: flex-start;
    flex:  0 0 33%;
    max-width: 380px;
    display: flex;
    @include desktop-note-big{
      flex:  0 0 20%;
      max-width: 200px;
      padding: 10px;
    }
    @include desktop-block{
      padding: 5px;
      align-items: center;
    }
    @include phone{

    }
  }
  &-right{
    flex:  1;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: flex-end;
    @include desktop-block{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 0;
      padding: 0;
    }
    @include tablet{
      // padding: 0 10px 0 0; 
    }
    @include phone{
      padding: 0;
    }
    &-wrap{
      width: 100%;
      justify-content: flex-end;
      display: flex;
      padding-right: 120px;
      position: relative;
      @include desktop-normal{
        padding-right: 100px;
      }
      @include desktop-note-big{
        padding-right: 85px;
      }
      @include desktop-block{
        padding-right: 0;
        justify-content: center;
        align-items: flex-start;
      }

    }
  }
  &-logo {
    // width: 100%;
    @include desktop-block{
      z-index: 1;
    }
    &-item {
      display: block;
      position: relative;
      height: 38px;
      @include desktop-normal{

        height: 35px;
      }
      @include desktop-note-big{

        height: 25px;
      }
      @include desktop-block{

        height: 20px;
      }
      @include phone{

        height: 24px;
      }
    }
    .logo{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
      opacity: 1;
      transition: opacity 0.3s linear;
    }


  }

  &-trigger{
    height: 192px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @include desktop-normal{
      height: 148px;
    }
    @include desktop-note-big{
      height: 112px;
    }
    @include desktop-block{
      height: 90px;
    }
  }
  &-menu {

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    @include desktop-block{
      align-items: flex-start;
      padding-top: 50px;
      width: 100%;
      display: none;
    }
    @include phone{
      // padding-top: 40px;
      padding-top: 38px;
    }
    & ul{
      display: flex;
      @include desktop-block{
        display: block;
        width: 100%;
      }
      & > li {
        display: inline-flex;
        align-items: center;
        padding-left: 100px;
        @include desktop-normal{
          padding-left: 80px;
        }
        @include desktop-note-big{
          padding-left: 60px;
        }
        @include desktop-block{
          padding: 0 0 25px;
          display: flex;
          width: 100%;
          justify-content: center;
        }
        &:first-of-type{
          padding-left: 0;

        }

        &:last-of-type{
          @include desktop-block{
            padding-bottom: 15px;
          }
          @include phone{
            padding-bottom: 0;
          }
        }
        // &.menu-item-portfolio,&.menu-item-about-us,&.menu-item-blog{
        //   & > a {
        //     pointer-events: all;
        //     opacity:1;
        //   }
        // }
        &.menu-item-portfolio{
          & > a {
            pointer-events: all;
            opacity:1;
          }
        }
        &.menu-item-blog{
          & > a {
            pointer-events: all;
            opacity:1;
          }
        }
        &.say-hello{
          & > a {
            color: var(--color-red);  
            font-family: var(--font-bold);
            pointer-events: all;
            opacity:1;
          }
        }
        & > a {
          line-height: 1;
          font-family: var(--font-family);
          color: var(--color-black);
          font-size: 20px;
          position: relative;
          padding-bottom: 3px;
          // pointer-events: none;
          // opacity: 0.5;
          z-index: 0;
          @include desktop-normal{
            font-size: 18px;
          }
          @include desktop-note-big{
            font-size: 16px;
          }
          @include desktop-block{
            line-height: 150%;
          }
          &:after{
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            height: 3px;
            width: 100%;
            // background-color: var(--color-red);
            background-color: transparent;
            background-image: url('#{$assetsPath}/icons/icon-underline.svg');
            background-position: left;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transform-origin: right;
          }
          &:hover{
            &:after{
              transform-origin: left;
              transform: scaleX(1);
              transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
            }
          }
        }
        &.current-menu-item{
          &>a{

          }
        }
      }
    }
  }



  &-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    @include desktop-block{
      align-items: flex-start;
    }
    &-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }

  
    .btn-menu{
      padding: 0;
      width: 40px;
      height: 40px;
      @include desktop-normal{
        width: 34px;
        height: 34px; 
      }
      @include desktop-note-big{
        width: 24px;
        height: 24px; 
      }
      @include desktop-block{

      }
      @include phone{

      }
      svg{
        width: 100%;
        height: 100%;
      }
      &.open{

      }
      &.inversion{
        path{
          fill: var(--color-bg);
        }
        &.open{
          path{
            fill: var(--color-grey);
          }
        }
      }
      // &-menu{
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   opacity: 1;
      //   visibility: visible;
      //   font-weight: var(--font-w-medium);
      // }
      // &-close{
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   opacity: 0;
      //   visibility: hidden;
      //   font-weight: var(--font-w-medium);
      // }
    
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-beage);
    z-index: 0;
    opacity: 0;
    @include desktop-block{
      opacity: 1;
      visibility: hidden;
      height: 337px;
    }
    @include tablet{
    }
    @include phone{
      height: 324px;
    }
    &.open{
      opacity: 1;
    }
  }
  &-mobile {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 8;
    display: none;
    @include desktop-block{
      display: block;
      width: 100%;
      visibility: hidden;
    }
    & ul{
      display: flex;
      @include desktop-block{
        display: block;
        width: 100%;
      }
      & > li {
        display: inline-flex;
        align-items: center;
        padding-left: 100px;
        @include desktop-normal{
          padding-left: 80px;
        }
        @include desktop-note-big{
          padding-left: 60px;
        }
        @include desktop-block{
          padding: 0 0 25px;
          display: flex;
          width: 100%;
          justify-content: center;
        }
        &:first-of-type{
          padding-left: 0;
          // &>a{
          //   pointer-events:all;
          //   opacity:1;
          // }

        }

        &:last-of-type{
          @include desktop-block{
            padding-bottom: 15px;
          }
          @include phone{
            padding-bottom: 0;
          }
        }
        &.menu-item-portfolio{
          & > a {
            pointer-events: all;
            opacity:1;
          }
        }
        &.menu-item-blog{
          & > a {
            pointer-events: all;
            opacity:1;
          }
        }
        // &.menu-item-portfolio,&.menu-item-about-us,&.menu-item-blog{
        //   & > a {
        //     pointer-events: all;
        //     opacity:1;
        //   }
        // }
        &.say-hello{
          & > a {
            color: var(--color-red);  
            font-family: var(--font-bold);
            pointer-events: all;
            opacity:1;
          }
        }
        & > a {
          line-height: 1;
          font-family: var(--font-family);
          color: var(--color-black);
          font-size: 20px;
          position: relative;
          padding-bottom: 3px;
          // pointer-events: none;
          // opacity: 0.5;
          z-index: 0;
          // opacity: 0;
          // transform: translateY(-20px);
          // transition: opacity 0.3s linear 0.3s,transform 0.3s linear 0.3s;
          @include desktop-normal{
            font-size: 18px;
          }
          @include desktop-note-big{
            font-size: 16px;
          }
          @include desktop-block{
            line-height: 150%;
          }
          &:after{
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            height: 3px;
            width: 100%;
            // background-color: var(--color-red);
            background-color: transparent;
            background-image: url('#{$assetsPath}/icons/icon-underline.svg');
            background-position: left;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transform-origin: right;
          }
          &:hover{
            &:after{
              transform-origin: left;
              transform: scaleX(1);
              transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
            }
          }
        }
        &.current-menu-item{
          &>a{

          }
        }
      }
    }

    &-wrap{
      // background-color: var( --color-white);
      width: 100%;
      // box-shadow: 0 4px 35px rgba(64, 23, 57, 0.12);
      display: block;
      height: 100%;
      overflow: auto;
      transform: translate(0, 0);
      padding: 78px 30px 0;
      @include phone{
        padding: 64px 10px 0;
      }
    }


  }
  &.start{
    .c-header-mobile{
      @include desktop-block{
        visibility: visible;
      }
    }
    .c-header-bg{
      @include desktop-block{
        visibility: visible;
      }
    }

  }
  &.header-fixed{
    .c-header-bg{
      opacity: 1;
    }
  }
  &.open{
    .c-header-menu{
      ul > li{
        a{
          // opacity: 1;
          // transform: translateY(0);
        }
      }
    }

  }


}
.preloader{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  opacity: 0;
  &-wrap{
    max-width: 860px;
    @include desktop-normal{
      max-width: 760px;
    }
    @include desktop-note-big{
      max-width: 640px;
    }
    @include desktop-block{

    }
    @include tablet{
      max-width: 100%;
      padding-left: 100px;
      padding-right: 65px;
    }
    @include phone{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &-desc{
    &-line{
      padding-top: 11px;
      color: var(--color-grey);
      font-size: 28px;
      line-height: 150%;
      // overflow: hidden;
      @include desktop-normal{
        font-size: 24px;
      }
      @include desktop-note-big{
        font-size: 20px;
      }
      @include phone{
        font-size: 20px;
      }
    }
    &:first-of-type{
      padding-top: 0;
    }
    &-cursive{
      padding-left: 10px;
      font-family: var(--font-gloria);
      color: var(--color-red);
    }
    
  }
  &-bold{
    padding-top: 70px;
    color: var(--color-grey);
    font-size: 28px;
    line-height: 150%;
    font-family: var(--font-bold);
    @include desktop-normal{
      padding-top: 50px;
      font-size: 24px;
    }
    @include desktop-note-big{
      padding-top: 45px;
      font-size: 20px;
    }
    @include phone{
      padding-top: 40px;
      font-size: 18px;
    }
  }
  &-link{
    padding-top: 100px;
    @include desktop-normal{
      padding-top: 70px;
    }
    @include desktop-note-big{
      padding-top: 60px;
    }
    @include phone{
      padding-top: 45px;
    }
    .item{
      &-link{
        padding-top: 25px;
        &--link{
          cursor: pointer;
          color: var(--color-grey-4);
          font-size: 20px;
          line-height: 120%;
          font-family: var(--font-medium);
          padding-left: 34px;
          position: relative;
          @include desktop-normal{
            font-size: 18px;
            padding-left: 30px;
          }
          @include desktop-note-big{
            font-size: 15px;
            padding-left: 28px;
          }
          &:hover{
            color: var(--color-red);
          }
          &:before{
            width: 24px;
            height: 24px;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: transparent;
            background-image: url('#{$assetsPath}/icons/icon-link-play.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: contain;
            @include desktop-normal{
              width: 20px;
              height: 20px;
            }
            @include desktop-note-big{
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  &-bg{
    position: fixed;
    width: 100%;
    // width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--color-bg);
    z-index: 100;
    // display: none;
    &.preloader-bg-hidden{
      z-index: 0;
    }
  }
  &.visible{
    opacity: 1;
  }
}